<div style="display: flex; align-items: center;">
  <h1 style="flex:1 0 auto;text-align: center; margin-left: 7%">Courses</h1>
  <%= button_to raw("&#10133; Add Course"), new_course_path, 
  :style => "font-size: 18px;background-color: #539a53;border-radius:6px;border-style: solid;", 
  :method => :get %>
</div>

<table style="margin-left: auto;margin-right: auto;">
  <tbody>
    <% if !@courses.any? %>
      <hr style="border-top: 3px solid #539a53;">
      <h2 style="text-align: center;margin-top: 40px;">No Available Courses</h2>
    <% end %>
    <% @courses.each do |course| %>
      <tr><hr style="border-bottom: 3px solid #539a53;"></tr>
      <tr><h3 style="text-align: center;"><%= course.name %></h3></tr>
      <tr><%= course.description %></tr>
      <tr>
        <td><%= button_to 'Show', course,
          :style => "font-size: 14px;background-color: #539a53;border-radius:6px;border-style: solid;", :method => :get %>
        </td>
        <td><%= button_to 'Update', edit_course_path(course),
          :style => "font-size: 14px;background-color: #539a53;border-radius:6px;border-style: solid;", :method => :get %>
        </td>
        <td><%= button_to 'Remove', course,
          :style => "font-size: 14px;background-color: #539a53;border-radius:6px;border-style: solid;", :method => :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>