<p id="notice"><%= notice %></p>

<h1 style="text-align:center;"><%= @course.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>